@media screen and (min-width: 768px){
  nav {
    padding: 2rem 4rem;
  }
  .hero-container {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
  }
  .hero-content {
    position: relative;
    width: 140%;
    z-index: 4;
    height: 68%;
    padding: 2rem;
  }
  .hero-content h1 {
    font-size: 2.5rem;

  }
  .hero-content p{
    font-size: 1.0.5rem;

  }
  .hero-image {
    width: 150%;
    position: relative;
    right: 18rem;
    margin-top: 1rem;

  }
  .hero-image img {
    width: 100%;
  }

  #latest-articles h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
  #about-section h1 {
    font-size: 2.5rem;
  }

  .about-container {
    flex-direction: row;
  }
  .about-image {
    position: relative;
    margin: auto 0;
  }

  #articles-section h1 {
    font-size: 2.5rem;
  }


  .subscribe-forme {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
  }
}

@media screen and (min-width: 995px) {
  nav {
    padding: 2rem 6rem;
  }
  .hero-content {
    padding: 2.2rem 2.5rem;
  }
  .hero-content h1 {
    font-size: 2.8rem;
  }
  .hero-content p {
    font-size: 1.1rem;
  }

}